In [31]:
import sqlite3
sqliteConnection = sqlite3.connect('boba_data.db')
cursor = sqliteConnection.cursor()
print("Database created and Successfully Connected to SQLite")

sqlite_select_Query = "select * from businesses;"
cursor.execute(sqlite_select_Query).fetchall()

Database created and Successfully Connected to SQLite

[('mrXJWyB5ZneRfzgBprctVQ',
  'OneZo',
  '19 Billings Rd',
  'Quincy',
  'MA',
  3.5,
  '19 Billings Rd'),
 ('vCEc52697fPzYGh_bzS29A',
  'Gong Cha',
  '75 Middlesex Turnpike, Ste 2115',
  'Burlington',
  'MA',
  3.5,
  '75 Middlesex Turnpike, Ste 2115')]

In [2]:
%%time
import sqlite3
conn = sqlite3.connect('../yelp.db')
c = conn.cursor()
c.execute('ATTACH DATABASE "boba_data.db" AS boba_db')

query = """INSERT OR REPLACE INTO 
            boba_db.businesses (business_id, name, address, city, state, overall_star, review_count)
            SELECT 
                business_id,
                name,
                address,
                city,
                state,
                stars as overall_star,
                review_count
            FROM businesses
            WHERE distance_to_cambridge < 20
            AND categories LIKE "%Bubble Tea%"
            """
c.execute(query).fetchall()
# c.execute('select * from boba_db.businesses').fetchall()
conn.commit()

CPU times: user 28 ms, sys: 44.3 ms, total: 72.3 ms
Wall time: 218 ms