In [14]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [98]:
df = pd.DataFrame.from_records(bb.get_drink_items()[0], columns = ['drink', 'count'])
df['business_id'] = 'vCEc52697fPzYGh_bzS29A'
df = bb.df_business[['business_id', 'name', 'address', 'city', 'state', 'overall_star', 'review_count']].merge(df)
df = df.rename(columns = {'drink': 'drink_name', 'count': 'drink_count'})

from sqlalchemy import create_engine
engine = create_engine("sqlite:///yelp.db", echo=True)
df.to_sql("top_drinks", con=engine, if_exists="replace")

2021-12-07 23:15:07,320 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("top_drinks")
2021-12-07 23:15:07,321 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,322 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("top_drinks")
2021-12-07 23:15:07,322 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,323 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-12-07 23:15:07,323 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,324 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("top_drinks")
2021-12-07 23:15:07,324 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,325 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-12-07 23:15:07,325 INFO sqlalchemy.engine.Engine [raw sql] ('top_drinks',)
2021-12-07 23:15:07,326 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("top_drinks")
2021-12-07 23:15:07,326 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,327 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("top_drinks")
2021-12-07 23:15:07,327 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,327 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-12-07 23:15:07,328 INFO sqlalchemy.engine.Engine [raw sql] ('top_drinks',)
2021-12-07 23:15:07,328 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("top_drinks")
2021-12-07 23:15:07,328 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,329 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("index_top_drinks")
2021-12-07 23:15:07,329 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,330 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_top_drinks_index")
2021-12-07 23:15:07,330 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,331 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("top_drinks")
2021-12-07 23:15:07,331 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,332 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("index_top_drinks")
2021-12-07 23:15:07,332 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,332 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_top_drinks_index")
2021-12-07 23:15:07,333 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-07 23:15:07,333 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-12-07 23:15:07,333 INFO sqlalchemy.engine.Engine [raw sql] ('top_drinks',)
2021-12-07 23:15:07,334 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-07 23:15:07,335 INFO sqlalchemy.engine.Engine
DROP TABLE top_drinks
2021-12-07 23:15:07,335 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
2021-12-07 23:15:07,336 INFO sqlalchemy.engine.Engine COMMIT
2021-12-07 23:15:07,337 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-07 23:15:07,338 INFO sqlalchemy.engine.Engine
CREATE TABLE top_drinks (
	"index" BIGINT,
	business_id TEXT,
	name TEXT,
	address TEXT,
	city TEXT,
	state TEXT,
	overall_star FLOAT,
	review_count BIGINT,
	drink_name TEXT,
	drink_count BIGINT
)


2021-12-07 23:15:07,338 INFO sqlalchemy.engine.Engine [no key 0.00024s] ()
2021-12-07 23:15:07,339 INFO sqlalchemy.engine.Engine CREATE INDEX ix_top_drinks_index ON top_drinks ("index")
2021-12-07 23:15:07,339 INFO sqlalchemy.engine.Engine [no key 0.00019s] ()
2021-12-07 23:15:07,340 INFO sqlalchemy.engine.Engine COMMIT
2021-12-07 23:15:07,342 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-07 23:15:07,347 INFO sqlalchemy.engine.Engine INSERT INTO top_drinks ("index", business_id, name, address, city, state, overall_star, review_count, drink_name, drink_count) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-12-07 23:15:07,347 INFO sqlalchemy.engine.Engine [generated in 0.00390s] ((0, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'oolong milk tea', 2), (1, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'caramel milk tea', 2), (2, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'brown sugar milk tea', 2), (3, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'pearl milk tea', 2), (4, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'mango slush', 2), (5, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'quality bubble tea', 1), (6, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'green tea', 1), (7, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'really really good bubble tea', 1)  ... displaying 10 of 1184 total bound parameter sets ...  (1182, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'strawberry green tea', 1), (1183, 'vCEc52697fPzYGh_bzS29A', 'Gong Cha', '75 Middlesex Turnpike, Ste 2115', 'Burlington', 'MA', 3.5, 36, 'mango soy milk slush', 1))
2021-12-07 23:15:07,354 INFO sqlalchemy.engine.Engine COMMIT

In [99]:
table_name = 'top_drinks'
index_column = 'business_id'

import sqlite3
db = sqlite3.connect('yelp.db')
cursor = db.cursor()
sql = f"CREATE INDEX index_{table_name} ON {table_name} ({index_column});"
cursor.execute(sql)

In [100]:
%%time
from sqlalchemy import create_engine
engine = create_engine("sqlite:///yelp.db", echo=False)
query = f"""SELECT * from top_drinks
            """
pd.read_sql(
    query,
    con=engine,
)

CPU times: user 3.91 ms, sys: 938 µs, total: 4.85 ms
Wall time: 4.24 ms

,index,business_id,name,address,city,state,overall_star,review_count,drink_name,drink_count
0,0,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,oolong milk tea,2
1,1,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,caramel milk tea,2
2,2,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,brown sugar milk tea,2
3,3,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,pearl milk tea,2
4,4,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,mango slush,2
...,...,...,...,...,...,...,...,...,...,...
1179,1179,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,large milk tea,1
1180,1180,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,earl grey milk tea,1
1181,1181,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,traditional bubble tea,1
1182,1182,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,strawberry green tea,1
1183,1183,vCEc52697fPzYGh_bzS29A,Gong Cha,"75 Middlesex Turnpike, Ste 2115",Burlington,MA,3.5,36,mango soy milk slush,1

In [15]:
import pandas as pd
import numpy as np
import ast
from sqlalchemy import create_engine

In [16]:
boston_boba = pd.read_csv('data/boston_boba_reviews.csv')

In [6]:
boston_boba.name.unique()

array(['Dumpling Daughter', 'Kung Fu Tea', 'Hearty Teriyaki Newton',
       'Boba Me', "Patty Chen's Dumpling Room", 'Boston Tea Stop',
       'Tsaocaa', 'Chatime', 'Mala Kungfu', "Beard Papa's",
       'M&J Teriyaki', 'Tea Bar by Evy', 'Happy Cafe',
       'My Thai Vegan Cafe', 'Yotopia', 'Sweet Heart', 'Pholicious',
       'Kirin Teppanyaki & Wok', 'Crepe & Ice Cream 89C', 'Bubble Nation',
       'Golden Sea Bubble Tea & Ice Cream', 'Tbaar', 'Sweet Kingdom',
       'One Zo', 'Limoo Tea Bar', 'Jaho Coffee & Tea',
       '4 Seasons Boba Tea', 'Fruity', 'Tasty Pot', 'Lollicup',
       'Love Art Sushi', 'Sweet Boba', 'Sweet Waffles + Boba',
       'Thana Thai Kitchen', 'Saigon Fusion', 'Shinmio Tea', 'Gong Cha',
       'Dizin FruttiBerri', 'YoCha', 'Vivi Bubble Tea Cafe',
       'Reign Drink Lab', 'Royaltea - Brookline', 'Real Lucky',
       'Vivi Bubble Tea Cafe Quincy', 'Pin Ming', 'The Juice Bar',
       'Dolphin Bay', 'Vivi Bubble Tea Brighton', 'OneZo',
       'Happy Lemon Boston', 'Tealosophy', 'LimeRed Tea House',
       'Honey Honey Dessert Cafe', 'Tealuxe', 'Poké Bento',
       'Pink Melon Frozen Yogurt', 'Royaltea - Boston', 'Tea Do - Boston',
       'B Cafe', 'Moon Flower House', 'Cha Feo', 'Wok n Talk',
       'Usushi Cafe', 'Boba Tea and Snow Ice House', 'Dado Tea',
       'Coco Leaf on Newbury', 'Iron Kitchen', 'TKK Fried Chicken',
       'Sakura Sunakku', 'Concord Avenue Cafe', 'Abide',
       'POKE by Love Art', 'BAMBU', 'NextDoor Cafe',
       'Cha Shu Coffee and Bubble Tea', "Cuong's Vegan Sandwiches",
       'Ten One Tea House', 'New Dong Khanh', 'TeaMoji',
       'Eighty Six Degrees Tea', 'Shi Miao Dao', 'Evy Tea',
       'Tbaar Chinatown', 'PTEA', 'I-CE-NY at Boston',
       'Infusions Tea Spa', 'Up Tea Hub', 'Chatime Quincy',
       'Pho Viet’s II', 'FunTea Cafe', 'Monkey King Tea', 'Rice Burg',
       'La Baguette Restaurant', 'Soul Ninja', 'Bubble-T Zone',
       'Sweet Bubble Truck', 'Chatime Boston 2nd Store', 'Banh Mi House'],
      dtype=object)

In [7]:
%%time
from collections import defaultdict
import spacy
from collections import Counter
nlp = spacy.load('en_core_web_sm')

CPU times: user 495 ms, sys: 44.9 ms, total: 540 ms
Wall time: 581 ms

In [97]:
from boba_business import BobaBusiness
bb = BobaBusiness('Gong Cha')
bb.get_drink_items()[0]

[('oolong milk tea', 2),
 ('caramel milk tea', 2),
 ('brown sugar milk tea', 2),
 ('pearl milk tea', 2),
 ('mango slush', 2),
 ('quality bubble tea', 1),
 ('green tea', 1),
 ('really really good bubble tea', 1),
 ('great milk foam tea', 1),
 ('original milk tea', 1),
 ('really good bubble tea', 1),
 ('an earl grey milk tea', 1),
 ('a large passion fruit green tea', 1),
 ('an awesome bubble tea', 1),
 ('taro milk tea', 1),
 ('carmel milk tea', 1),
 ('classic- pearl milk tea', 1),
 ('red plum tea', 1),
 ('two taro milk tea', 1),
 ('good bubble tea', 1),
 ('oolong tea', 1),
 ('green milk tea', 1),
 ('a bit overpriced bubble tea', 1),
 ('early gray milk tea', 1),
 ('2nd caramel milk tea', 1),
 ('some high quality bubble tea', 1),
 ('some authentic bubble tea', 1),
 ('large milk tea', 1),
 ('earl grey milk tea', 1),
 ('traditional bubble tea', 1),
 ('strawberry green tea', 1),
 ('mango soy milk slush', 1)]

In [24]:
bb.get_keyword_items(['boba'])[0]

[('boba', 22),
 ('the boba', 12),
 ('good boba', 2),
 ('my boba', 2),
 ('perfectly chewy boba', 1),
 ('your boba', 1),
 ('the black sugar boba', 1),
 ("me's boba", 1),
 ('the best boba', 1),
 ('what good boba', 1),
 ('such good boba', 1),
 ('really good boba', 1),
 ('yummy boba', 1),
 ('best boba', 1),
 ('those boba', 1),
 ('their boba', 1),
 ('"peace, love, boba', 1),
 ('a huge boba', 1),
 ('the taro boba', 1)]

In [20]:
bb.noun_counts.most_common()

[('i', 118),
 ('it', 67),
 ('boba', 53),
 ('tea', 39),
 ('you', 28),
 ('they', 27),
 ('me', 25),
 ('place', 24),
 ('drink', 17),
 ('area', 17),
 ('drinks', 17),
 ('which', 15),
 ('we', 11),
 ('that', 10),
 ('hill', 10),
 ('sugar', 8),
 ('spot', 8),
 ('flavors', 8),
 ('boston', 8),
 ('games', 7),
 ('texture', 7),
 ('shop', 7),
 ('staff', 7),
 ('what', 6),
 ('people', 6),
 ('all', 6),
 ('cups', 6),
 ('cup', 6),
 ('places', 6),
 ('employees', 6),
 ('this', 6),
 ('day', 5),
 ('who', 5),
 ('matcha', 5),
 ('time', 5),
 ('ice', 5),
 ('decor', 5),
 ('milk', 5),
 ('mi', 5),
 ('sweetness', 4),
 ('space', 4),
 ('jenga', 4),
 ('bit', 4),
 ('chewy', 4),
 ('fries', 4),
 ('some', 4),
 ('things', 4),
 ('menu', 4),
 ('interior', 4),
 ('friends', 4),
 ('them', 4),
 ('she', 4),
 ('neighborhood', 4),
 ('side', 3),
 ('game', 3),
 ('price', 3),
 ('taro', 3),
 ('those', 3),
 ('amount', 3),
 ('prices', 3),
 ('jelly', 3),
 ('store', 3),
 ('restaurant', 3),
 ('pictures', 3),
 ('students', 3),
 ('california', 3),
 ('teas', 3),
 ('something', 3),
 ('options', 3),
 ('half', 3),
 ('level', 3),
 ('fan', 3),
 ('fu', 2),
 ('cha', 2),
 ('itself', 2),
 ('molasses', 2),
 ('cream', 2),
 ('items', 2),
 ('strawberry', 2),
 ('rose', 2),
 ('syrupy', 2),
 ('service', 2),
 ('slush', 2),
 ('lychee', 2),
 ('atmosphere', 2),
 ('sandwich', 2),
 ('thing', 2),
 ('expectations', 2),
 ('quality', 2),
 ('hit', 2),
 ('stores', 2),
 ('wall', 2),
 ('fact', 2),
 ('location', 2),
 ('experience', 2),
 ('kind', 2),
 ('workers', 2),
 ('complaint', 2),
 ('taste', 2),
 ('choice', 2),
 ('ones', 2),
 ('tablet', 2),
 ('lot', 2),
 ('water', 2),
 ('business', 2),
 ('mango', 2),
 ('customers', 2),
 ('powder', 2),
 ('order', 2),
 ('shy', 1),
 ('interest', 1),
 ('tables', 1),
 ('flavor', 1),
 ('smokey', 1),
 ('bite', 1),
 ('dust', 1),
 ('cheese', 1),
 ('greasy', 1),
 ('size', 1),
 ('ourselves', 1),
 ('disappointment', 1),
 ('consistency', 1),
 ('buds', 1),
 ('selection', 1),
 ('none', 1),
 ('pickup', 1),
 ('ubereats', 1),
 ('issues', 1),
 ('latte', 1),
 ('hubby', 1),
 ('par', 1),
 ('franchises', 1),
 (':)', 1),
 ('label', 1),
 ('mistake', 1),
 ('end', 1),
 ('wait', 1),
 ('result', 1),
 ('class', 1),
 ('door', 1),
 ('milkweed', 1),
 ('ambiance', 1),
 ('anyone', 1),
 ('homey', 1),
 ('backdrop', 1),
 ('miss', 1),
 ('oolong', 1),
 ('notes', 1),
 ('aesthetic', 1),
 ('trickle', 1),
 ('preference', 1),
 ('seat', 1),
 ('homework', 1),
 ('concept', 1),
 ('lineup', 1),
 ('review', 1),
 ('ho', 1),
 ('textures', 1),
 ('wrong', 1),
 ('any', 1),
 ('coffee', 1),
 ('trek', 1),
 ('downtown', 1),
 ('uno', 1),
 ('music', 1),
 ('point', 1),
 ('family', 1),
 ('thanks', 1),
 ('friend', 1),
 ('jars', 1),
 ('@bobajars', 1),
 ('instagram', 1),
 ('jar', 1),
 ('brim', 1),
 ('pearls', 1),
 ('seating', 1),
 ('couple', 1),
 ('coworkers', 1),
 ('break', 1),
 ('design', 1),
 ('afternoon', 1),
 ('st.', 1),
 ('pics', 1),
 ('table', 1),
 ('tower', 1),
 ('need', 1),
 ('wishes', 1),
 ('seriously', 1),
 ('teado', 1),
 ('self', 1),
 ('gem', 1),
 ('request', 1),
 ('worries', 1),
 ('undertones', 1),
 ('item', 1),
 ('decoration', 1),
 ('inside', 1),
 ('look', 1),
 ('decorations', 1),
 ('photos', 1),
 ('pros', 1),
 ('cons', 1),
 ('quarter', 1),
 ('takeaway', 1),
 ('tapioca', 1),
 ('lighting', 1),
 ('vibes', 1),
 ('four', 1),
 ('carrot', 1),
 ('meat', 1),
 ('chinatown', 1),
 ('myself', 1),
 ('meals', 1),
 ('covid', 1),
 ('interaction', 1),
 ('feature', 1),
 ('%', 1),
 ('bostonians', 1),
 ('variety', 1),
 ('smoothies', 1),
 ('vibe', 1),
 ('bonus', 1),
 ('tooth', 1),
 ('style', 1),
 ('spots', 1),
 ('facility', 1),
 ('steps', 1),
 ('opening', 1),
 ('serve', 1),
 ('lack', 1),
 ('ever', 1),
 ('t', 1),
 ('husband', 1),
 ('both', 1),
 ('mediums', 1),
 ('difference', 1),
 ('covid-', 1),
 ('masks', 1),
 ('work', 1),
 ('god', 1),
 ('allston', 1),
 ('bay', 1),
 ('fix', 1),
 ('open', 1),
 ('girl', 1),
 ('ratios', 1),
 ('power', 1),
 ('machines', 1),
 ('timer', 1),
 ('assortment', 1),
 ('parking', 1),
 ('night', 1),
 ('kids', 1),
 ('dessert', 1),
 ('issue', 1),
 ('sucks', 1),
 ('card', 1),
 ('woman', 1),
 ('shoulder', 1),
 ('presence', 1),
 ('way', 1),
 ('someone', 1),
 ('owner', 1),
 ('money', 1),
 ('establishment', 1),
 ('aesthetics', 1),
 ('happiness', 1),
 ('glance', 1),
 ('streaks', 1),
 ('sip', 1),
 ('trend', 1),
 ('headache', 1),
 ('boyfriend', 1),
 ('contributes', 1),
 ('souvenir', 1),
 ('restrictions', 1),
 ('spice', 1),
 ('sticker', 1),
 ('combination', 1),
 ('chewiness', 1),
 ('visit', 1),
 ('longwood', 1),
 ('mural', 1),
 ('chains', 1)]

In [266]:
bb.weighted_noun_scores.most_common(20)

[('sandwich', 212314225.05307856),
 ('boba', 69828722.00263505),
 ('chewiness', 49019607.84313726),
 ('mi', 39062500.0),
 ('chewy', 16393442.622950818),
 ('jenga', 15209125.47528517),
 ('ubereats', 13175230.566534914),
 ('fries', 13029315.960912053),
 ('lychee', 11235955.056179775),
 ('matcha', 10683760.683760684),
 ('shop', 9320905.459387483),
 ('carrot', 9174311.926605504),
 ('syrupy', 8547008.547008546),
 ('meals', 7874015.748031495),
 ('serve', 7812499.999999999),
 ('teas', 6293706.293706293),
 ('allston', 5128205.128205128),
 ('slush', 4338394.793926247),
 ('oolong', 4166666.666666667),
 ('options', 4032258.064516129)]