In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np
import ast
import utils
# from data_loader import YelpDataLoader
from sqlalchemy import create_engine

In [4]:
from constants import STANFORD, CAMBRIDGE, MADISON

In [5]:
# %%time
# CAMBRIDGE = (42.3736, -71.1097)
# df_close = utils.load_close_businesses('cambridge', 100)

In [6]:
%%time
engine = create_engine("sqlite:///yelp.db", echo=False)
query = f"""SELECT *
            FROM reviews
            LIMIT 10
            """
df = pd.read_sql(
    query,
    con=engine,
)
df

CPU times: user 11.7 ms, sys: 2.39 ms, total: 14.1 ms
Wall time: 14.2 ms

,index,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02.000000
1,1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25.000000
2,2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06.000000
3,3,T5fAqjjFooT4V0OeZyuk1w,SFQ1jcnGguO0LYWnbbftAA,0AzLzHfOJgL7ROwhdww2ew,2,1,1,1,I've stayed at many Marriott and Renaissance M...,2010-01-08 02:29:15.000000
4,4,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01.000000
5,5,J4a2TuhDasjn2k3wWtHZnQ,RNm_RWkcd02Li2mKPRe7Eg,xGXzsc-hzam-VArK6eTvtw,1,2,0,0,"This place used to be a cool, chill place. Now...",2018-01-21 04:41:03.000000
6,6,28gGfkLs3igtjVy61lh77Q,Q8c91v7luItVB0cMFF_mRA,EXOsmAB1s71WePlQk0WZrA,2,0,0,0,"The setting is perfectly adequate, and the foo...",2006-04-16 02:58:44.000000
7,7,9vqwvFCBG3FBiHGmOHMmiA,XGkAG92TQ3MQUKGX9sLUhw,DbXHNl890xSXNiyRczLWAg,5,0,0,0,Probably one of the better breakfast sandwiche...,2017-12-02 18:16:13.000000
8,8,2l_TDrQ7p-5tANOyiOlkLQ,LWUnzwK0ILquLLZcHHE1Mw,mD-A9KOWADXvfrZfwDs-jw,4,1,0,0,I am definitely a fan of Sports Authority. Th...,2012-05-28 15:00:47.000000
9,9,KKVFopqzcVfcubIBxmIjVA,99RsBrARhhx60UnAC4yDoA,EEHhKSxUvJkoPSzeGKkpVg,5,0,0,0,I work in the Pru and this is the most afforda...,2014-05-07 18:10:21.000000

In [ ]:
%%time
engine = create_engine("sqlite:///yelp.db", echo=False)
query = f"""SELECT 
                b.business_id,
                name,
                address,
                city,
                state,
                b.stars,
                distance_to_cambridge,
                attributes,
                categories,
                hours,
                text
            FROM businesses as b
            LEFT JOIN reviews 
                ON b.business_id = reviews.business_id
            WHERE distance_to_cambridge <= 10
            """
df = pd.read_sql(
    query,
    con=engine,
)

In [8]:
%%time
df_close_reviews = utils.load_close_tips('cambridge', 10)

            SELECT
                b.business_id,
                name,
                address,
                city,
                state,
                b.stars,
                distance_to_cambridge,
                attributes,
                categories,
                hours,
                text
            FROM businesses as b
            LEFT JOIN tips
                ON b.business_id = tips.business_id
            WHERE distance_to_cambridge <= 10

CPU times: user 4.11 s, sys: 1.97 s, total: 6.08 s
Wall time: 6.09 s

In [45]:
%%time
df_close_reviews = utils.load_close_reviews('cambridge', 10)

            SELECT
                businesses.business_id,
                name,
                address,
                city,
                state,
                stars,
                distance_to_cambridge,
                attributes,
                categories,
                hours,
                text
            FROM businesses
            LEFT JOIN reviews
                ON businesses.business_id = reviews.business_id
            WHERE distance_to_cambridge <= 10

OperationalError: (sqlite3.OperationalError) ambiguous column name: stars
[SQL:
            SELECT
                businesses.business_id,
                name,
                address,
                city,
                state,
                stars,
                distance_to_cambridge,
                attributes,
                categories,
                hours,
                text
            FROM businesses
            LEFT JOIN reviews
                ON businesses.business_id = reviews.business_id
            WHERE distance_to_cambridge <= 10
            ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [43]:
df_close_tips

,business_id,name,address,city,state,stars,distance_to_cambridge,attributes,categories,hours,text
0,6fT0lYr_UgWSCZs_w1PBTQ,Salter School,2 Florence St,Malden,MA,2.0,4.180364,None,"Specialty Schools, Massage Schools, Middle Sch...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ...",Best massage ever! Thanks Brian for the recom...
1,6fT0lYr_UgWSCZs_w1PBTQ,Salter School,2 Florence St,Malden,MA,2.0,4.180364,None,"Specialty Schools, Massage Schools, Middle Sch...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ...",Please don't waste your money at this school. ...
2,6fT0lYr_UgWSCZs_w1PBTQ,Salter School,2 Florence St,Malden,MA,2.0,4.180364,None,"Specialty Schools, Massage Schools, Middle Sch...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ...",Scam
3,hcRxdDg7DYryCxCoI8ySQA,Longwood Galleria,340-350 Longwood Ave,Boston,MA,2.5,2.424056,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Restaurants, Shopping, Shopping Centers","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'...",Hallucinatory man always sitting and talking a...
4,hcRxdDg7DYryCxCoI8ySQA,Longwood Galleria,340-350 Longwood Ave,Boston,MA,2.5,2.424056,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Restaurants, Shopping, Shopping Centers","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'...",Subway has moved into the old Dairy Queen spot.
...,...,...,...,...,...,...,...,...,...,...,...
180975,yQL8SrSETbbCI1U5esVJQw,Ciao! Pizza & Pasta,59 Williams St,Chelsea,MA,5.0,3.682925,"{'GoodForKids': 'True', 'RestaurantsPriceRange...","Restaurants, Pizza, Italian","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",first time try this lovely place... just love ...
180976,yQL8SrSETbbCI1U5esVJQw,Ciao! Pizza & Pasta,59 Williams St,Chelsea,MA,5.0,3.682925,"{'GoodForKids': 'True', 'RestaurantsPriceRange...","Restaurants, Pizza, Italian","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",good price！good quality！
180977,yQL8SrSETbbCI1U5esVJQw,Ciao! Pizza & Pasta,59 Williams St,Chelsea,MA,5.0,3.682925,"{'GoodForKids': 'True', 'RestaurantsPriceRange...","Restaurants, Pizza, Italian","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",simply the best
180978,yQL8SrSETbbCI1U5esVJQw,Ciao! Pizza & Pasta,59 Williams St,Chelsea,MA,5.0,3.682925,"{'GoodForKids': 'True', 'RestaurantsPriceRange...","Restaurants, Pizza, Italian","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",wow!!!!!!!! all i have to say.
180979,d6iEdtgLKelWKtb-2UmE2A,Master Finish Mobile Auto Detailing,29 Greenwood Ave,Needham,MA,1.0,8.637060,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Detailing","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",None

In [290]:
df_reviews_close = df_close.merge(df_reviews, on = 'business_id')
df_reviews.shape

In [297]:
df_reviews_close.to_csv('data/reviews_within_10_miles_of_cambridge.csv', index=False)

In [340]:
df_reviews_boba = df_reviews_close.iloc[[i for i, x in enumerate(df_reviews_close.business_id) if x in list(df_boba.business_id)]]

In [348]:
df_reviews.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

In [354]:
df_reviews.iloc[:,2:].sample(10)

,business_id,stars,useful,funny,cool,text,date
5312613,g1Qok-8QvCHuZV0HL0DX5w,3,1,0,0,Bloody Mary was just okay. Not the best one I'...,2015-02-18 17:24:21
7740857,mLOGZ8ayN2imj8kO35Jz4w,1,0,0,0,"Service, quality, everything has went downhill...",2020-11-24 01:57:24
1926330,EkYQgWOYrM52rMyfrEMczQ,4,1,0,0,This place was nice but wouldn't consider it t...,2010-07-23 13:21:21
1794618,CF8EjfGgyTMIR7klsl3flQ,1,6,0,0,The most incompetent people in the world work ...,2008-12-26 20:43:54
8333866,J2oWzpLVYqj0XOPVD1L2dA,5,0,0,0,"Taste so good, I really like their bbq, it's o...",2016-03-27 17:46:58
119410,mvB_Z5NbYPLRvUNPt3v06w,3,1,0,0,Very good sandwich or wrap. Pizza is good. Mor...,2017-08-20 01:54:04
7793541,_Dl1YmHct9J0Nn7KsbTW_w,5,0,0,0,"Friendly staff, fast service as always. I alwa...",2018-04-15 14:57:14
2504611,tqUVKxmb3R4BM1hf_Hy9nQ,1,0,0,0,Ordered Chow Mein and they gave me maybe 95% g...,2019-01-31 23:40:21
440338,k7-oClu97qColM6BcCaQMw,4,1,0,0,This place has a great atmosphere. The servers...,2010-10-01 19:56:37
926737,b7kKPiS9fJLpnScMs4qAnQ,5,0,0,0,Great Staff Great Food and a Fun atmosphere a...,2013-01-06 04:42:10

In [369]:
_to_exclude = ['review_id', 'postal_code', 'date', 
               'attributes', 'address', 'business_id', 
               'categories', 'user_id', 'stars_x', 'stars_y',
              'latitude', 'longitude', 'is_open'
              'cool', 'funny']
cols = list(set(df_reviews_boba.columns) - set(_to_exclude))
df_reviews_boba[cols].sample(10)

,name,city,is_open,distance_to_cambridge,state,review_count,hours,useful,text,cool
1635935,Gong Cha,Allston,1,1.879708,MA,105,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",0,"I ordered a Strawberry Matcha Latte with boba,...",0
515715,Chatime,Boston,0,2.899948,MA,236,"{'Tuesday': '12:0-18:0', 'Wednesday': '12:0-18...",2,Bought a drink here and after taking one sip i...,0
1593439,Monkey King Tea,Malden,1,3.670842,MA,244,"{'Wednesday': '11:30-20:0', 'Thursday': '11:30...",17,This place is too bomb! I fell in love right w...,10
515583,Chatime,Boston,0,2.899948,MA,236,"{'Tuesday': '12:0-18:0', 'Wednesday': '12:0-18...",0,ChaTime is my staple boba tea place to go when...,0
948907,Dolphin Bay,Boston,1,1.756488,MA,486,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",0,This is probably my favorite Taiwanese restaur...,0
994068,Tealosophy,Boston,0,1.974531,MA,95,"{'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0'...",0,Good place to have snow shaved ice! They are r...,0
788366,Reign Drink Lab,Dorchester,1,5.456567,MA,104,"{'Monday': '0:0-0:0', 'Tuesday': '8:0-20:0', '...",1,We LOVE Reign. Everything is consistently abso...,1
515647,Chatime,Boston,0,2.899948,MA,236,"{'Tuesday': '12:0-18:0', 'Wednesday': '12:0-18...",5,"Legit thick, creamy real taro milk tea! None o...",1
980955,Happy Lemon Boston,Boston,1,2.800257,MA,157,"{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...",0,"So nice taste, and it's my favorite milk tea i...",0
762928,Gong Cha,Malden,1,4.090146,MA,27,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",1,"Saw this place was new and open as I drove by,...",0

In [372]:
df_boba_tips.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'distance_to_cambridge', 'user_id',
       'text', 'date', 'compliment_count'],
      dtype='object')

In [376]:
_to_exclude = ['postal_code', 'date', 'hours',
               'attributes', 'address', 'business_id', 
               'categories', 'user_id', 'stars_x', 'stars_y',
              'latitude', 'longitude', 'is_open'
               'funny']
cols = list(set(df_boba_tips.columns) - set(_to_exclude))
df_boba_tips[cols].sample(10)

,name,stars,city,is_open,distance_to_cambridge,state,review_count,compliment_count,text
153,Dolphin Bay,4.5,Boston,1,1.756488,MA,486,0,Yummy food for reasonable price!!!
244,Moon Flower House,4.5,Boston,1,1.793114,MA,121,0,很好吃！环境也很干净舒服，终于找到奥尔良烤翅太开心了吧。还是那个熟悉的配方，照烧鸡腿堡，新奥...
205,Happy Lemon Boston,4.0,Boston,1,2.800257,MA,157,0,"The check in is 10% off, not $2 off"
28,Chatime,3.0,Boston,0,2.899948,MA,236,0,It is officially opened! There is a buy one ge...
96,The Juice Bar,4.0,Boston,0,2.910175,MA,159,0,Love the jasmine tea!!
50,Chatime,3.0,Boston,0,2.899948,MA,236,0,Accepts credit card--no minimum.
172,Dolphin Bay,4.5,Boston,1,1.756488,MA,486,0,Authentic Taiwanese food! Reasonable price and...
146,Dolphin Bay,4.5,Boston,1,1.756488,MA,486,0,Kicking ass MTF awesome Taiwanese food with th...
6,Pholicious,3.5,Saugus,0,7.481981,MA,21,0,"If you don't want bubbles in your bubble tea, ..."
154,Dolphin Bay,4.5,Boston,1,1.756488,MA,486,0,Rice dishes are mediocre and over-priced given...