In [19]:
import sqlite3
sqliteConnection = sqlite3.connect('boba_data.db')
cursor = sqliteConnection.cursor()
print("Database created and Successfully Connected to SQLite")

sqlite_select_Query = "select * from businesses;"
cursor.execute(sqlite_select_Query).fetchall()

Database created and Successfully Connected to SQLite

[('vCEc52697fPzYGh_bzS29A',
  'Gong Cha',
  '75 Middlesex Turnpike, Ste 2115',
  'Burlington',
  'MA',
  3.5,
  '75 Middlesex Turnpike, Ste 2115'),
 ('9Ih-4eMu4qaOL0E05JrOwA',
  'Kung Fu Tea',
  '1916 Beacon St',
  'Brighton',
  'MA',
  4.0,
  '1916 Beacon St')]

In [14]:
%%time
sqliteConnection = sqlite3.connect('../../yelp.db')
cursor = sqliteConnection.cursor()
print("Database created and Successfully Connected to SQLite")

query = """WITH close_businesses AS (SELECT 
                business_id,
                name,
                address,
                city,
                state,
                stars,
                review_count,
                distance_to_cambridge
            FROM businesses
            WHERE distance_to_cambridge < 10
            AND categories LIKE "%Bubble Tea%"
            )
            SELECT
                close_businesses.business_id,
                name,
                address,
                city,
                state,
                close_businesses.stars as overall_star,
                review_count
            FROM close_businesses
            """
res = cursor.execute(query).fetchmany(size=10)

Database created and Successfully Connected to SQLite
CPU times: user 7.45 ms, sys: 13.1 ms, total: 20.5 ms
Wall time: 34.2 ms